# IDE-specific files
.idea/
*.iml

# Gradle files
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Media files
/media/

# Logs and temporary files
*.log
*.tmp
*.temp

# Build output
/build/
